* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body {
    background-color: #eff7f6;
}

/* navbar */
.header-custom {
    background-color: #b1f6ed !important;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #e2aac6;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu .nav-link {
    color: #2b535a !important;
    padding: 8px 20px !important;
    border-radius: 25px;
}

.menu .nav-link:hover, .menu .nav-link.aktif {
    background-color: #78c0ce;
    font-weight: bold;
}

/* button */
.btn-custom {
    display: inline-block;
    background-color: #79dbed !important;
    color: #2b535a !important;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px !important;
    font-weight: bold !important;
    font-size: 17px;
}

.tombol-donasi:hover {
    background-color: #5ecad4 !important;
}

/* form */
.kartu-form {
    width: 100%;
    max-width: 800px;
    padding: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 83px -35px rgba(0,0,0,0.75);
}

.judul-form {
    text-align: center;
    color: #2b535a;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 37px;
}

.sub-judul {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2b535a;
    margin-bottom: 25px;
}

.sub-judul h3 {
    font-size: 22px;
    font-weight: 500;
}

.form-label-custom {
    font-size: 18px;
    color: #2b535a;
}

.form-control-custom {
    border-radius: 36px !important;
    border: 1px solid #2a3f44 !important;
    padding: 12px 20px !important;
    background-color: transparent !important;
}

.form-control-custom:focus {
    box-shadow: 0 0 0 0.25rem rgba(121, 219, 237, 0.25) !important;
    border-color: #2b535a !important;
}

.garis {
    margin: 30px 0px;
    color: #717a76;
}

.kotak-pilihan {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #717a76;
    border-radius: 12px;
    color: #2b535a;
    font-size: 18px;
    margin-bottom: 25px;
}

.kotak-pilihan:has(input:checked) {
    border: 4px solid #79dbed;
}

/* katalog */
.card-custom {
    background-color: #cbe7ec !important;
    border-radius: 25px !important;
    overflow: hidden;
}

.judul-katalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.judul-katalog h3 {
    margin: 0;
    color: #2b535a;
    font-size: 22px;
}

.penulis {
    color: #2b535a;
    font-size: 19px;
    margin-bottom: 15px;
}

.label-tag {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.badge, .tag {
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}

.tersedia { background-color: #92d96c; color: #1e4511; }
.habis { background-color: #e56b6b; color: #521616; }
.kondisi-baik { background-color: #92d96c; color: #1e4511; }
.kondisi-baru { background-color: #b0a1e0; color: #302061; }
.kategori { background-color: #79bcc9; color: #174b54; }

.donor {
    color: #2b535a;
    margin-bottom: 15px;
}

.tombol-kartu {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}

.btn-aktif {
    color: #2b535a;
    background-color: #79dbed;
}

.btn-nonaktif {
    background-color: #b0cfd5 !important;
    color: #2b535a !important;
    font-weight: bold !important;
    border: none !important;
    cursor: not-allowed !important;
    padding: 12px !important; 
}